@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Applying the shake animation to the title when hovered over */

.title, .subtitle {
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: aliceblue;
}

.homeimg  {
  border-radius: 20px; /* Rounded corners for the navbar items */
  transition: transform 0.3s ease; /* Adding transition for the hover effect */
  box-shadow: 10px 10px 8px rgba(255, 255, 255, 0); /* Initial shadow */
}

.title:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.subtitle:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* Adding hover effect for the image */
.homeimg:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* White shadow */

}