.navbar {
  border-radius: 10px;
  padding: 1%;
  
}

/* Increase the hover effect */
.navbar-item:hover {
  background-color: transparent; 
  border-radius: 5px; 
}

.navbar-item.is-hoverable:hover {
background: linear-gradient(135deg, #001f3f, #111);
  border-radius: 5px; /* Rounded corners for the navbar items */
}


.navbar-item {
  color: aliceblue;

}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background: transparent;
  }
}